# VS Code workspace settings
.vscode/

# macOS system files
.DS_Store

# Linux/Unix executables
*.out
test

# Windows executables
*.exe

# Binary files and dumps
*.bin
*.dat
*.obj
*.class
*.bak

# Python artifacts (if ever used)
__pycache__/
*.pyc

# Common folders to ignore
build/
dist/
app/


# Ignore specific files and folders recursively
test
a/

